body{
 background-color: #212121;
 color: white;   
}

h1{
    text-align: center;
    font-size: 100px;
    padding-bottom: 200px;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: aqua;
    padding: 80px;
    margin-left: 250px;
    margin-right: 250px;
}

button{
    border: none;
    color: rgb(0, 0, 0);
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-color: #212121;
}

.red{
    background-color: #ff0000;
    
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}